@using TBSLogistics.WebApp.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>WebShop - Furniture Ecommerce | Login</title>
    @Styles.Render("~/User/css")

</head>

<body>
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex justify-content-center clearfix">
        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-title">
                                <h2>Login</h2>
                            </div>
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl },
                            FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control form-control-sm" id="email" name="Email" value="" placeholder="Enter Email" required>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="password" class="form-control form-control-sm" id="password" name="Password" value="" placeholder="Enter Password" required>
                                    </div>
                                    <div class="col-12">
                                        <div class="col-md-offset-2 col-md-10">
                                            <div class="checkbox">
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Log in" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_Footer")
</body>

</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}